.App {
  text-align: center;
}

.header {
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-around;
  align-items: baseline;
}

.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: flex-end;
  justify-content: flex-end;
}

.nav-item {
  margin: 0 1rem;

}

.header-name {
  text-align: left;
  justify-content: center;
  justify-items: center;
  margin-left: 10px;
}

.profile-pic {
  height: 45%;
  width: 45%;
}